<h1>Fun with Anagrams</h1>
<form action="/anagram/add_word" method="post">
  <div class="form-group">
    <label for="secondary-word">Add a word to a list to compare against your first word: </label>
    <input type="text" name="secondary-word" id="secondary-word" pattern="[A-Za-z]*" title="Please don't enter numbers or punctuation." placeholder="racecar" required autofocus>
  </div>
  <button type="submit">Submit</button>
</form>
