<h1>Fun with Anagrams</h1>
<form action="/anagram" method="post">
  <div class="form-group">
    <label for="primary-word">Enter a word to check for anagrams with: </label>
    <input type="text" name="primary-word" id="primary-word" pattern="[A-Za-z]*" title="Please don't enter numbers or punctuation." placeholder="racecar" required autofocus>
  </div>
  <button type="submit">Submit</button>
</form>
