<h1>Fun with Anagrams</h1>
<h2>Your word is: @Model.GetPrimary()</h2>
<h3>Your next step is adding words into a list to compare against your first word.</h3>
<h4><a href="/anagram/add_word">Click here to add words to your list</a></h4>
